
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
     <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to list.name, list_path(list) %>
          <div class="card-category" >
          </div>
      </div>
    <% end %>
    <%= link_to "Create new list", new_list_path, class: "btn btn-primary" %>
  </div>
</div>



<%# <div class="card" style="width: 18rem;">
 <% @list.movies.each do |movie|%>
    <%# <%= image_tag(movie.poster_url) %>
    <%# <div class="card-body">
      <h5 class="card-title"><%= movie.title %>
      <%# <p class="card-text"><%= movie.overview %>
      <%# <a href="#" class="btn btn-primary">Bookmark</a>
      <% end %>
    <%# </div>
  </div>  %>
